body{
    background-image: url("../images/bg.png");
    background-size: contain;
}

.m-padded-mini {
    padding: 0.2em !important;
}
.m-padded-tiny {
    padding: 0.3em !important;
}
.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}
.m-padded-tb-tiny {
    padding-top: 0.3em !important;
    padding-bottom: 0.3em !important;
}
.m-padded-tb-small {
    padding-top: 0.5em !important;
    padding-bottom: 0.5em !important;
}
.m-padded-tb {
    padding-top: 1em !important;
    padding-bottom: 1em !important;
}
.m-padded-tb-large {
    padding-top: 2em !important;
    padding-bottom: 2em !important;
}
.m-padded-tb-big {
    padding-top: 3em !important;
    padding-bottom: 3em !important;
}
.m-padded-tb-huge {
    padding-top: 4em !important;
    padding-bottom: 4em !important;
}
.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

/*字体*/
.m-text {
    font-weight: 300 !important;
    letter-spacing: 1px !important;
    line-height: 1.8 !important;
}
.m-text-thin {
    font-weight: 300 !important;
}
.m-text-spaced {
    letter-spacing: 5px !important;
}
.m-text-lined {
    line-height: 1.8 !important;
}
.m-opacity-mini {
    opacity: 0.8 !important;
}

/*display*/
.m-inline-block {
    display: inline-block !important;
}
.m-container {
    max-width: 72em !important;
    margin: auto !important;
}

/*margin*/
.m-margin-tb-tiny {
    margin-top: 0.3em !important;
    margin-bottom: 0.3em !important;
}
.m-margin-top-small {
    margin-top: 0.5em !important;
}
.m-margin-top{
    margin-top: 1em !important;
}
.m-margin-top-large {
    margin-top: 2em !important;
}
.m-margin-bottom-small {
    margin-bottom: 0.5em !important;
}
.m-padded-lr-responsive  {
    padding-left: 4em !important;
    padding-right: 4em !important;
}



/*color*/
.m-black {
    color: #333 !important;
}

/*position*/
.m-right-top {
    position: absolute;
    top: 0;
    right: 0;
}

/*媒体查询*/

.m-mobile-show {
    display: none !important;
}

@media screen and (max-width: 768px){
    .m-mobile-hide{
        display: none !important;
    }
    .m-mobile-show{
        display: block !important;
    }
    .m-padded-lr-responsive{
        padding-right: 0 !important;
        padding-left: 0 !important;
    }
    .m-mobile-wide{
        width: 100% !important;
    }
}
