
.m-padded-tb-mini {
    padding-top: 0.2em !important;
    padding-bottom: 0.2em !important;
}

.m-padded-tb-massive {
    padding-top: 5em !important;
    padding-bottom: 5em !important;
}

/*字体*/
.m-text-thin {
    font-weight: 300 !important;
}
.m-text-spaced {
    letter-spacing: 5px !important;
}
.m-text-lined {
    line-height: 1.8 !important;
}
.m-opacity-mini {
    opacity: 0.8 !important;
}